*{
	margin:0;
	padding: 0;
}
#container{
	margin-left:300px;
	margin-top: 100px;
	overflow: hidden;
}
.target-area{
	float:left;
	list-style: none;
	margin-right: 100px;
	border:1px solid #000;
	height:500px;
	width:200px;
	
}
.target-area li{
	cursor: pointer;
}
.drag{
	width:200px;
	height:40px;
	border-bottom: solid 1px #000;
	background-color: red;
	text-align: center;
	line-height: 40px;


}
.draging{
	width:200px;
	height:40px;
	border: solid 1px #000;
	background-color: red;
	text-align: center;
	line-height: 40px;
	position: absolute;
}