/*公共部分*/
*{
	margin:0;
	padding: 0;
}
#mainWrap{
	margin: 0 auto;
	background-color: #EEEEEE;
	width:1347px;
}
#banner{
	overflow: hidden;
	margin-bottom: 20px;
}
#banner  #header{
	background-color: #522A5C;
	position: relative;
	overflow: hidden;
	height:80px;
}
#header #header-first{
	width:980px;
	height:80px;
	margin-left: 183.5px;
}
#banner #logo{
	height:50px;
	width:400px;
	float:left;
	margin-top: 30px;
	margin-left: -7px;
}
#banner #menu{
	overflow: hidden;
	margin-left: 756px;
	
}
#banner #menu li{
	
	list-style: none;
	float:left;
	margin-left: 28px;
	margin-top: 59px;
	
}
#banner #menu li a{
	text-decoration: none;
	font-size:14px;
	color: #fff;
}
#banner #menu{
	overflow: hidden;
}
#banner #github{
	position: absolute;
	right:10px;
	bottom:0;
}
#banner #banner-title{
	background-image: url(../image/banner-bg.jpg);
	background-size: 100% 500px;
	height:500px;
	position: relative;
}
#banner #text{
    width: 300px;
    height:100px;
    position: absolute;
    right:30px;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    padding: 10px 10px 30px;
}
#banner #text h3{
	font-size: 14px;
	margin-bottom: 12px;
}
#banner #text p{
	font-size: 12px;
	line-height: 150%;
}
#footer{
	clear: both;
}
#footer #footer-menu{
	background-color: #000;
	height:35px;
	padding-left: 582.5px;
}
#footer #footer-menu li{
	float: left;
	margin-right: 25px;
	text-decoration: none;
	list-style: none;
	margin-top: 8.5px;
}
#footer #footer-menu a{
	text-decoration: none;
		color: #fff;
}
#footer #help{
	margin-top: 0.5px;
	background-color: #000;
	color:#fff;
	overflow: hidden;
	padding-left: 200px;
	padding-bottom: 100px;
}
#footer  #help .link{
	margin-top: 20px;
	font-size: 14px;
	color:#eeeeee;
	float:left;
	list-style: none;
	width:196px;

}
#footer  #help .link .link-1{
	margin-top: 10px;
}
#footer #help .link li{
	list-style: none;
}
#footer #help .link li a{
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	line-height: 170%;
}
#footer #help .link li a:hover{
	text-decoration: underline;
}
/*index.html样式*/
#main-content{
	margin-top: 10px;
	padding: 10px;
	overflow: hidden;
	width:1000px;
	margin:0 auto;
}
#main .content{

	background-color: #fff;
	float: left;
	width:320px;
	background-color: #fff;
	margin-left: 10px;


}
#main .content img{
	width: 300px;
	height:180px;
	margin-top: 10px;
	margin-left: 10px;
}
#main .content p{
	font-size: 12px;
	line-height: 170%;
	margin-top: 15px;
	padding:0 30px 30px 25px;
}
#main #main-intro{
	background-color: #fff;
	position: relative;
	margin-top: 100px;
}
#main #main-intro img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	position: absolute;
	left:593.5px;
	top:-40px;
}
#main #main-intro  h3{
	padding-top: 160px;
	font-size: 30px;
	font-family: 'Century Gothic' sans-serif;
	text-align: center;
}
#main #main-intro p{
	margin-top: 30px;
	margin-left: 373.5px;
	width: 600px;
	font-size: 14px;
	line-height: 170%;
	padding-bottom: 100px;
}

/*blog.html样式*/
#blog-main,#gallery-main{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;

}
#blog-main #side-bar,#gallery-main #side-bar{
	float:right;
	width:260px;
}

/*侧边栏搜索框*/
#blog-main #side-bar #search ,#gallery-main #side-bar #search{
	background-color: #fff;
	padding: 20px 20px ;
	 	margin-bottom: 10px;
}
#blog-main #side-bar #search form,#gallery-main #side-bar #search form{
 	border:solid 1px #eeeeee;

}
#blog-main #side-bar #search form:hover,#gallery-main #side-bar #search form:hover{
	border:solid 1px #000;
}

#blog-main #side-bar #search form input[type='text'],#gallery-main #side-bar #search form input[type='text']{
	width: 170px;
	height:38px;
	outline: none;
	background-image: url(../image/search.png);
	background-repeat: no-repeat;
	background-position: left center;
	border: none;
}
#blog-main #side-bar #search form input[type='text']:focus,#gallery-main #side-bar #search form input[type='text']:focus{
	background: #fff;
	outline: none;
}
#blog-main #side-bar #search form input[type='submit'],#gallery-main #side-bar #search form input[type='submit']{
	width:48px;
	height: 40px;
	background-color: #eeeeee;
	border:none;
	outline: none;
	color: #fff;
	font-size: 20px;
}
#blog-main #side-bar #search form input[type='submit']:hover,#gallery-main #side-bar #search form input[type='submit']:hover{
	background-color: #646199;
}
/*侧边栏标签项样式*/
#blog-main #side-bar #table{
	background-color: #fff;
	margin-bottom: 10px;
}
#blog-main #side-bar #table a{
	height:50px;
	text-decoration: none;
	padding-left: 20px;
	line-height: 50px;
	border-left: 5px solid #92C0EF;
	border-bottom:  1px  solid #eeeeee;
	display: block;
	color:gray;
}
#blog-main #side-bar #table a:hover{
	border-left-color: #47456D;
	
}
/*侧边栏日历样式*/
#blog-main #side-bar #date{
	background-color: #fff;
	font-size: 10px;
	padding:0 20px;
	margin-bottom: 10px;
}
#blog-main #side-bar #date #date-title{
	padding-top: 10px;
	margin-bottom: 10px;
}
#blog-main #side-bar #date #date-title th{
	padding-right: 71px;
}
#blog-main #side-bar #date #date-content{
	width:220px;
	border-collapse:collapse;
	padding-bottom: 20px;
}
#blog-main #side-bar #date #date-content tr{
	height:30px;
	border-bottom: solid 1px #eeeeee;
	text-align: center;
}
#blog-main #side-bar #date #date-content tr td a{
	text-decoration: none;
	padding: 10px 10px;

}
#blog-main #side-bar #date #date-content a:hover{
	background-color: #47456D;
	color: #fff;
}
/*侧边栏tag项样式*/
#blog-main #side-bar #tags{
	background-color: #fff;
	margin-bottom: 100px;
	color:#47456D;

}
#blog-main #side-bar #tags #tags-title{
	margin: 0 0  20px 10px;
	padding-top: 20px;
	font-size: 15px;
}
#blog-main #side-bar #tags .big_tag{
	font-size: 30px;
}
#blog-main #side-bar #tags .mid_tag{
	font-size: 20px;
}
#blog-main #side-bar p{
	font-size: 15px;
}
/*blog正文样式*/
#blog-main #content{
	margin-right: 270px;
}
#blog-main #content .article{
	background-color: #fff;
	margin-bottom: 10px;
	padding:20px 20px;
	position: relative;

}
#blog-main #content .article h4{
	font-size: 20px;
	margin-bottom: 10px;
	
}
#blog-main #content .article h5{
	font-size: 16px;
	margin-bottom: 20px;
}
#blog-main #content .article .article-content{
	margin-bottom: 40px;
}
#blog-main #content .article .time{
	text-align: right;
	color:#888;
}
#blog-main #content .article .article-tag{
	width: 50px;
	color:#fff;
	position: absolute;
	top:20px;
	left:-50px;
}
#blog-main #content .article .article-tag .submit-time{
	height:40px;
	background-color: #47456D;
	line-height: 40px;
	text-align: center;
}
#blog-main #content .article .article-tag .article-class{
	height:40px;
	background-color: #92C0EF;
	line-height: 40px;
	text-align: center;
}
#blog-main #content #page-num{
	overflow: hidden;
}
#blog-main #content #page-num .number{
	float:left;
	text-align: center;
	margin: 0 5px;
	padding: 12px 15px;
	background-color: #fff;
}
#blog-main #content #page-num .number a{
	text-decoration: none;
	color:#000;
	
}
#blog-main #content #page-num .number-now a{
	color: #fff;
}
#blog-main #content #page-num .number-now{
	background-color: #47456D;

}
#blog-main #content #page-num  .number-invalid{
	color: gray;
}
/*gallery.html样式*/
/*侧边栏样式*/
#gallery-main #side-bar #rank{
	background-color: #fff;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;

}
#gallery-main #side-bar #rank #rank-title{
	margin-bottom: 20px;
}
#gallery-main #side-bar #rank #side-rank .rank-item{

}
#gallery-main #side-bar #rank #side-rank .rank-num{
	background-color: #47456D;
	width: 20px;
	height:20px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	margin-right: 20px;
	float:left;
}
#gallery-main #side-bar #rank #side-rank .rank-content{
	width: 90px;
	height:17px;
	background-color:#47456D;
	float:left;
	margin-right: 10px;
}
#gallery-main #side-bar #rank #side-rank .rank-item{
	clear: both;
	margin-bottom: 10px;
}
#gallery-main #side-bar #rank #side-rank .rank-content-2{
	background-color: #fff;
}
#gallery-main #side-bar #rank #side-rank .rank-per-2{
	background-color: #fff;
	width: 70px;
	height:17px;
	background-color: #47456D;
}
#gallery-main #side-bar #rank #side-rank .rank-per-3{
	background-color: #fff;
	width: 50px;
	height:17px;
	background-color: #47456D;
}
#gallery-main #side-bar #rank #side-rank .rank-per-4{
	background-color: #fff;
	width: 30px;
	height:17px;
	background-color: #47456D;
}
#gallery-main #side-bar #rank #side-rank .rank-per-5{
	background-color: #fff;
	width: 20px;
	height:17px;
	background-color: #47456D;
}
/*主体样式*/
#gallery-main #gallery-content{
	margin-right: 260px;

}
#gallery-main #gallery-content #menu{
	overflow: hidden;
	width:639px;
}
#gallery-main #gallery-content #menu li{
	float: left;
	list-style: none;
	padding:15px 20px 20px 20px;
	background-color: #fff;
	margin-right: 1px;
	margin-bottom: 1px;
	
}
#gallery-main #gallery-content #menu .menu-1{
	border-top: 4px solid #DFC6E6;
}
#gallery-main #gallery-content #menu .menu-1:hover{
	border-top: 4px solid #522A5C;
}
#gallery-main #gallery-content #menu .menu-3{
	border-top: 4px solid #D2A6FF;
}
#gallery-main #gallery-content #menu .menu-3:hover{
	border-top: 4px solid #5900B2;
}
#gallery-main #gallery-content #menu .menu-4{
	border-top: 4px solid #FFA98C;
}
#gallery-main #gallery-content #menu .menu-4:hover{
	border-top: 4px solid #8C2300;
}
#gallery-main #gallery-content #menu .menu-5{
	border-top: 4px solid #FFE188;
}
#gallery-main #gallery-content #menu .menu-5:hover{
	border-top: 4px solid #D9A300;
}

#gallery-main #gallery-content #menu li a{
	text-decoration: none;
	color:#000;
	font-size: 14px;;
}
/*照片墙*/
#gallery-main #gallery-content #content-body{
	background-color: #fff;
	width:670px;
	height:700px;
	position: relative;
	padding:20px 20px;
	margin-bottom: 10px;
}
#gallery-main #gallery-content #content-body .pic{
	position: absolute;
}
#gallery-main #gallery-content #content-body .pic1{
	width:330px;
	background-color: #522A5C;
}
#gallery-main #gallery-content #content-body .pic2{
	background-color: #5900B2;
	left:360px;
}
#gallery-main #gallery-content #content-body .pic3{
	background-color: #D9A300;
	left:530px;
}
#gallery-main #gallery-content #content-body .pic4{
	background-color: #D9A300;
	top:313px;
}
#gallery-main #gallery-content #content-body .pic5{
	background-color: #8C2300;
	top:313px;
	left:190px;
}
#gallery-main #gallery-content #content-body .pic6{
	background-color: #522A5C;
	left:360px;
	top:207px;
}
#gallery-main #gallery-content #content-body .pic7{
	background-color: #8C2300;
	left:530px;
	top:225px;
}
#gallery-main #gallery-content #content-body .pic8{
	background-color:  #522A5C;
	top:518px;
}
#gallery-main #gallery-content #content-body .pic9{
	background-color:  #5900B2;
	top:500px;
	left:190px;
}
#gallery-main #gallery-content #content-body .pic10{
	background-color:  #D9A300;
	left:360px;
	top:430px;
}
#gallery-main #gallery-content #content-body .picOther{
	width:160px;
}
#gallery-main #gallery-content #content-body .pic1 img{
	width:330px;
	height:206px;

}
#gallery-main #gallery-content #content-body .picOther img{
	width: 160px;
	height:100px;
}
#gallery-main #gallery-content #content-body .pic .pic-title{
	margin-top: 10px;
	padding-bottom: 10px;
}
#gallery-main #gallery-content #content-body .pic .logo{
	float:left;
	width: 28px;
	height:28px;
	border: solid 1px #fff;
	border-radius: 50%;
	text-align:center;
	line-height: 28px;
	margin-right: 10px;
	color:#fff;

}
#gallery-main #gallery-content #content-body .pic .pic-content{
	margin-left: 38px;
	}

#gallery-main #gallery-content .more{
	background-color: #fff;
	width:690px;
	padding:10px;
	margin-bottom: 30px;
	text-align: center;
}
#gallery-main #gallery-content .more a{
	text-decoration: none;
	color: #000;

}
/*about.html样式*/
#about-main{
	margin: 100px auto;
	width: 980px;
	position: relative;
}
#about-main  img{
	width: 160px;
	height: 160px;
	border:10px solid #eeeeee;
	border-radius: 50%;
	position: absolute;
	left:400px;
	top:-40px;

}
#about-main #left{
	width:487px;

	background-color: #fff;
}
#about-main .line1{
	padding-top: 140px;
}
#about-main #left .left-content{
	margin-left: 345px;
	font-size: 20px;
	font-weight: bold;
}
#about-main #left .left2{
	padding-top: 320px;
}
#about-main #left .left3{
	padding-top: 190px;
}
#about-main #left .left4{
	padding-top: 325px;
	padding-bottom: 133px;
}

#about-main #right{
	width:487px;
	float:right;
	background-color: #fff;
	position: relative;
	height: 1200px;
}
#about-main #right .right-content{
	position: absolute;
	left:40px;
	font-size: 14px;
	line-height: 170%;

}
#about-main #right .info-name{
	top:140px;

}
#about-main #right .info-contract{
	top:483px;

}
#about-main #right .info-edu{
	top:696px;

}
#about-main #right .info-edu .college{
	margin-top: 45px;
}
#about-main #right .info-edu .master{
	margin-top: 45px;
}

#about-main #right .info-work{
	top:1044px;

}
#about-main #right .info-pic{
	height:100px;
	width:100px;
	border: 5px solid #eeeeee;
	left:-58px;
}
#about-main #right .contract-pic{
	top:355px;
}
#about-main #right .edu-pic{
	top:565px;
}
#about-main #right .work-pic{
	top:920px;
}
#about-main #right .year{
	border:5px solid #eeeeee;
	border-radius: 20%; 
	width:60px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color:gray;
	font-size: 15px;
	background-color: #fff;
	left:-38px;
}
#about-main #right .year1{
	top:696px;
}
#about-main #right .year2{
	top:766px;
}
#about-main #right .year3{
	top:856px;
}