*{
	margin: 0;
	padding: 0;
}
body,html{
	height: 100%;
	min-width: 700px;
	min-height:400px;
}
#container{
	height:100%;
	
}
header{
	background-color: #DDDDDD;
	height:60px;
	line-height: 60px;
	position: absolute;
	top:0;
	width:100%;
	border-bottom: solid 1px #CCCCCC;
	z-index: 10;
	min-width: 700px;
}
header p{
	margin-left: 20px;
	color: #999999;
	font-size: 25px;
	font-weight: bold;
}
#class-list{
	background-color: #F2F2F2;
	width:220px;
	height:100%;
	position: relative;
	border-right: solid 1px #CCCCCC;
	float:left;
}
#class-list #all-class{
	padding: 90px 0 20px 10px;
}
#class-list  ul{
	margin-left: 10px;
	list-style: none;
}
#class-list  .class-item{
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 30px;
	background: url(images/222.png) no-repeat;
	background-position: top left;
	background-size: 20px 20px;
	cursor: pointer;
}
 #class-footer,#task-footer{
	border-top: solid 1px #CCCCCC;
	height:50px;
	position: absolute;
	bottom: 0;
	width:220px;
	
}
 #class-footer p,#task-footer p{
	width: 80px;
	line-height: 50px;
	padding-left: 30px;
	margin-left: 10px;
	font-size: 15px;
	background: url(images/add.png) no-repeat;
	background-position: center left;
	cursor:pointer;
}
 #class-footer p:hover,#task-footer p:hover{
 	color: #B37DB7;
 }
#task-list{
	float:left;
	width:220px;
	height:100%;
	position: relative;
	border-right:1px solid #CCCCCC;

}
#task-list #task-state{
	padding-top: 70px;
	background-color: #F2F2F2;
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
}
#task-list #task-state li{
	list-style: none;
	float: left;
	margin-left:10px; 
	margin-bottom: 10px;
	font-size: 15px;
	padding:7px 7px;
	border-radius: 15%;
	cursor:pointer;
}
.task-type{
	background-color: #fff;
}
#task-area{
	height:100%;
	margin-left: 443px;
}
#task-area #task-title{
	padding-top: 60px;
	background-color: #F2F2F2;
	height:60px;
	border-bottom: 1px solid #CCCCCC;
	position: relative;
}
#task-area #task-title p{
	line-height: 60px;
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
}
#task-area #task-title #write,#task-area #task-title #save{
	position: absolute;
	right: 20px;
	top:80px;
	cursor: pointer;
}
#task-area #task-title #save{
	right: 60px;
}

#task-area #task-date{
	background-color: #FAFAEE;
	height: 60px;
	border-bottom: 1px solid #CCCCCC;
}
#task-area #task-date p{
	line-height: 60px;
	font-size: 17px;
	margin-left: 10px;
}
#task-area #task-content p{
	margin-left: 10px;
	margin-top: 10px;
}